@CHARSET "ISO-8859-1";
*
{
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}
html,body
{
	background:#F5F5F5;
	width:100%;
	height:100%;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-t3i55v');
	src:url('../fonts/icomoon.eot?#iefix-t3i55v') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-t3i55v') format('truetype'),
		url('../fonts/icomoon.woff?-t3i55v') format('woff'),
		url('../fonts/icomoon.svg?-t3i55v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before {
	content: "\e600";
	visibility:hidden;
	margin-left:22%;
}
.icon-checkmark:before {
	content: "\ea10";
	margin-right:15px;
	
}
#login:hover .icon-arrow-down:before
{
	visibility:visible;
	color::#ed1245;
}
header
{
	background:#fff;
	padding:10px 0px;
}
#mobile > a
{
	width:90%;
	display:block;
	margin-left:7%;
	text-align:center;
	border:1px solid grey;
	margin-bottom:10px;
	text-decoration:none;
	height:72px;
	line-height:72px;
	border-radius:10px;
	-webkit-transition:background 1s ease , color 1s ease;
	-moz-transition:background 1s ease , color 1s ease;
	-o-transition:background 1s ease , color 1s ease;
	transition:background 1s ease , color 1s ease;
	font-family: 'Dancing Script', cursive;
	color: #7C7C7C;
	font-weight:bold;
	font-size:20px;
}
#mobile > a:hover
{
	background:#ed1245;
	color:white;
}
#mobile > a:first-child
{
	display:block;
	width:90%;
	max-width:300px;
	margin-left:auto;
	margin-right:auto;
	height:174px;
	background:url("../images/logo.jpg");
	background-size:100% 100%;
	border-radius:0px;
	height:80px;
	border:0px;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}
/*login form*/
#lean_overlay {
    position: fixed;
    z-index:10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
	border-radius:10px;
}
#login_form > header
{
	background:#F4F4F2;
	border-radius:10px 10px 0px 0px;
}
.header_title
{
	text-align:left;
	display:inline-block;
	width:90%;
	font-size:16px;
	padding-left:15px;
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
}
.close
{
	width:10%;
	font-size:16px;
	cursor:pointer;
	color:#666;
}
#login_form
{
	margin:0px auto;
	display:none;
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	z-index:100000;
	background: #FFF;
	border-radius:10px;
	padding-bottom:15px;
}
form
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
imgdiv1
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
form > label
{
	width:100%;
	text-align:left;
	display:block;
	padding:10px 0px;
	color:#666;
	font-size:14px;
}
form > input
{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	border:1px solid #ddd;
	padding:10px;
}
form > input:focus
{
	border:1px solid green;
	background-color:#aaa;
}
form > input[type="submit"]
{
	margin-top:30px;
	background-color:#eae8ea;
	-webkit-transition:background 1s ease , color 1s ease;
	-moz-transition:background 1s ease , color 1s ease;
	-o-transition:background 1s ease , color 1s ease;
	transition:background 1s ease , color 1s ease;
}
form > input[type="submit"]:hover
{
	background-color:#666;
	color:white;
}
.action_btns
{
	margin:10px 0px;
}
.action_btns > div
{
	display:inline-block;
	height:32px;
	width:49%;
	background:#F4F4F2;
	border-radius:5px;
}
.action_btns > div > a
{
	display:block;
	height:100%;
	text-decoration:none;
	color:#666;
	border-radius:5px;
	text-align:center;
	line-height:32px;
	-webkit-transition:background 1s ease,color 1s ease;
	-moz-transition:background 1s ease,color 1s ease;
	-o-transition:background 1s ease,color 1s ease;
	transition:background 1s ease,color 1s ease;
}
.action_btns > div > a:hover
{
	background:#c10330;
	color:white;
}
#user_login
{
	display:block;
}
#registration_form
{
	display:none;
}
#user_login> a
{
	text-decoration:none;
	color:#666;
	display:inline-block;
	text-align:right;
	width:90%;
	font-size:12px;
}
/** **/
section
{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
}
section > h3
{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
#why_us
	{
		width:90%;
		padding:10px;
		display:block;
		box-shadow:none;
	}
	#why_us > h3
	{
		text-align:center;
		font-family: 'Ubuntu', sans-serif;
	}
article 
{
	display:inline-block;
	width:90%;
	-webkit-box-shadow: 7px 7px 39px 0px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    7px 7px 39px 0px rgba(50, 50, 50, 0.8);
	box-shadow:         7px 7px 39px 0px rgba(50, 50, 50, 0.8);
	border-radius:10px;
	margin-bottom:30px;
	margin-left:6%;
	padding-bottom:20px;
}
#service_provider , #review
{
	margin-bottom:40px;
}
article > h4
{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
}
article > img
{
	width:80%;
	border-radius:10px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
article > span
{
	display:block;
	padding:15px 10px 0px 10px;
	text-align:center;
	font-family: 'Dancing Script', cursive;
	font-size:24px;
	color:#000;
}
article > p
{
	text-align:justify;
	padding:0px 10px;
	line-height:1.5;
	-ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
     hyphens: auto;
}
article > a
{
	display:inline-block;
	width:40%;
	text-align:center;
	color:black;
	text-decoration:none;
	-webkit-transition:background-color 1s ease , color 1s ease;
	-moz-transition:background-color 1s ease , color 1s ease;
	-o-transition:background-color 1s ease , color 1s ease;
	transition:background-color 1s ease , color 1s ease;
	background-color:#d8d6d7;
	height:50px;
	width:47%;
	border-radius:10px;
	line-height:50px;
	margin-left:5px;
}
article > a:hover
{
	background:#ed1245;
	color:#fff;
}
.review > h4
	{
		font-family: 'Dancing Script', cursive;
		font-size:24px;
	}
.review_container > img
	{
		width:40%;
		display:inline-block;
	}
	.review
	{
		width:50%;
		box-shadow:none;
		display:inline-block;
	}
footer > p
	{
		text-align:center;
		font-size:10px;
		font-family: 'Ubuntu', sans-serif;
	}
	
#second 
{
	width:90%;
	margin-left:10px;
}
#registration_form > p
{
	line-height:1.5;
	padding:10px;
}
#registration_form > p > a
{
	text-decoration:none;
	color:black;
	font-size:20px;
}
footer
	{
		margin-top:60px;
		background:#6f6c7a;
		padding:40px 20px 40px 20px;
		
	}
@media(max-width:649px)
{
	#tablet , #review_section , .cycle-slideshow , .example-pager
		{
			display:none;
		}
}
@media(min-width:650px)
{
	#mobile
	{
		display:none;
	}
	#heading
	{
		width:100%;
		padding:0px;
		margin:0px;
		top:0px;
		position:fixed;
		width:100%;
		z-index:3000;
	}
	header
	{
		border-bottom:2px solid grey;
	}
	#tablet
	{
		margin:0px;
		padding:0px 0px 10px 0px;
	}
	#tablet > *
	{
		display:inline-block;
		vertical-align: top;
		font-family: 'Dancing Script', cursive;
		font-weight:bold;
	}
	#tablet > a
	{
		width:20%;
		text-decoration:none;
		color:#000;
		height:60px;
		line-height:60px;
		text-align:center;
		-webkit-transition:color 1s ease;
		-moz-transition:color 1s ease;
		-o-transition:color 1s ease;
		transition:color 1s ease;
		font-size:20px;
		color: #7C7C7C;
	}
	#tablet > a:hover
	{
		color:#ed1245;
	}
	#tablet > .logo
	{
		display:inline-block;
		border:0px;
		width:194px;
		
	}
	#tablet > span
	{
		color:#000;
		width:23%;
		cursor: pointer;
		text-align:center;
		background:#fff;
		height:60px;
		line-height:60px;
		-webkit-transition:color 1s ease;
		-moz-transition:color 1s ease;
		-o-transition:color 1s ease;
		transition:color 1s ease;
		font-size:20px;
		color: #7C7C7C;
	}
	#tablet > span:hover
	{
		color:#ed1245;
	}
	
	#tablet > ul
	{
		position:absolute;
		list-style-type: none;
		-webkit-transform: translate(250%);
    	-webkit-transform-origin: 60% 100%;
		transform: translate(250%);
		width:23%;
		display:none;
		margin:0px;
		padding:0px;
		background:#fff;
		border-radius:0px 0px 10px 10px;
		z-index:1000;
	}
	#tablet > ul > li
	{
		width:100%;
		border-bottom:1px solid grey;
		padding:10px;
		text-align:center;
	}
	#tablet > ul > li > a
	{
		width:100%;
		text-decoration:none;
		color: #7C7C7C;
		-webkit-transition:color 1s ease;
		-moz-transition:color 1s ease;
		-o-transition:color 1s ease;
		transition:color 1s ease;
		font-family: 'Dancing Script', cursive;
		font-size:20px;
	}
	#tablet > ul > li > a:hover
	{
		color:#ed1245;
	}
	.image
	{
		background:url("../images/logo.png");
		display:inline-block;
		width:30%;
		max-width:191px;
		background-size:100% 100%;
		height:60px;
	}
	section > article
	{
		display:inline-block;
		width:42%;
		padding:10px;
	}
	footer > a:first-child
	{
		width:100%;
		text-align:center;
	}
	footer > a:nth-child(2)
	{
		display:none;
	}
	
	/*carousel*/
	.cycle-slideshow
	{
		width:100%;
		height:90%;
		-webkit-box-shadow: 7px 7px 39px 0px rgba(50, 50, 50, 0.8);
		-moz-box-shadow:    7px 7px 39px 0px rgba(50, 50, 50, 0.8);
		box-shadow:        7px 7px 39px 0px rgba(50, 50, 50, 0.8);
		margin-top:90px;
	}
	.cycle-slideshow > article
	{
		width:100%;
		height:100%;
		padding:0px;
		margin:0px;
		border-radius:0px;
		box-shadow:none;
	}
	.example-pager
	{ 
		text-align: center; width: 100%; z-index: 500;  overflow: hidden;margin-top:10px;
	}
	.example-pager span { 
		font-family: arial; font-size: 50px; width: 16px; height: 16px; 
		display: inline-block; color: #ddd; cursor: pointer; 
	}
	.example-pager span.cycle-pager-active { color: #c10330;}
	.example-pager > * { cursor: pointer;}
	.cycle-prev, .cycle-next { position: absolute; top: 0; width: 10%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; display:inline-block;}
	.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
	.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
	.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }
	.disabled { opacity: .5; filter:alpha(opacity=50); }
	.slide1 , .slide2
	{
		margin:0px;
		padding:0px;
		border-top:1px solid grey;
	}
	.slide1:before 
	{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .5;
		background:url("../images/test.jpg");
		background-size:100% 100%;
	}
	.slide1 > * , .slide2 > *
	{
		position:absolute;
		font-family: 'Roboto', sans-serif;
	}
	.slide1 > p 
	{
		font-size:24px;
		top:20%;
		left:35%;
		display:inline-block;
		font-weight:bold;
		color:#1c1b1a;
	}
	
	.slide1 > a , .slide2 > a 
	{
		top:40%;
		left:50%;
		width:100px;
		border-radius:5px;
		height:45px;
		line-height::50px;
		background:#c10330;
		color:white;
		font-size:18px;
		padding-top:2px;
	}
	
	.slide2 > a 
	{
		top:75%;
		left:45%;
		display:inline-block;
		padding-top:0px;
		padding-left:2px;
	}
	
	.slide2:before 
	{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .4;
		background:url("../images/test1.jpg");
		background-size:100% 100%;
	}
	.slide2 > p
	{
		font-size:24px;
		top:10%;
		left:40%;
		font-weight:bold;
		color:#c10330;
		display:inline-block;
	}
	.slide2 > ul
	{
		list-style:none;
		top:25%;
		left:38%;
	}
	.slide2 > ul >li
	{
		width:100%;
		text-align:left;
		padding:10px;
		color:#1c1b1a;
		font-weight:bold;
		height:30px;
		font-size:15px;
	}
	.slide2 > imgdiv
	{
	width: 25px;
	height: 52px;
	background-color: "red";
	
	}
	
}
@media(min-width:650px) and (max-width:730px)
{
	#tablet > ul
	{
		-webkit-transform: translate(250%);
    	-webkit-transform-origin: 60% 100%;
		transform: translate(250%);
	}
}
@media(min-width:731px) and (max-width:850px)
{
	#tablet > ul
	{
		-webkit-transform: translate(250%);
    	-webkit-transform-origin: 60% 100%;
		transform: translate(250%);
	}
}
@media(min-width:1000px)
{
	#tablet > ul
	{
		position:absolute;
		list-style-type: none;
		-webkit-transform: translate(270%);
    	-webkit-transform-origin: 60% 100%;
		transform: translate(270%);
		width:23%;
		display:none;
		margin:0px;
		padding:0px;
		background:#fff;
		border-radius:0px 0px 10px 10px;
	}
	section>article
	{
		display:inline-block;
		width:27%;
	}
	section>h3
	{
		padding-left:30px;
	}
	#tablet > a
	{
		width:25%;
	}
	
}
@media(min-width:1000px) and (max-width:1200px)
{
	#tablet > ul
	{
		
		-webkit-transform: translate(280%);
    	-webkit-transform-origin: 60% 100%;
		transform: translate(280%);
	}
}